@import "~normalize.css";
@import 'roboto.css';

body {
    font-family:'Roboto', sans-serif;
}
.container {
    padding-top: 2rem;
    color: brown;
    margin: 0 auto;
    max-width: 1000px;
    text-align: center;
}

.logo {
    background-image: url("../assets/logo_black.svg");
    background-size: cover;
    height: 230px;
    width: 200px;
    margin: 0 auto;

}